*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root{
    --primary:white;
    --secondary: rgb(66, 66, 66);
    --tiertiary: grey;
    --fourth: white; 
}
body {
    background-color: azure;
    margin: 0;
}
/*header and nav style start here*/
header {
    display: flex;
    flex-grow:unset;
    background-color: rgb(70, 70, 70);
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin-bottom: 10px;
    width: 100%;
    list-style: none;
    color: var(--fourth);
}

nav ul li {
    float: right;
    display: inline-block;
    padding: 10px 10px;
}

li a button {
font-size: 16px;
font-weight: 500;
color: var(--fourth);
text-decoration: none;
}


header button {
    padding: 20px 35px 25px;
    background-color: var(--tiertiary);
    border: 10px;
    border-radius: 30px;
    cursor: pointer;
}
/*header/nav style ends and begins main style*/
main {
    display:flex;
    flex-wrap: wrap;
}
/*style for the cool subtitle w/ profile pic*/
.himg1 {
    background-color: var(--tiertiary);
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.himg1 img {
    flex: 1;
    max-width: 500px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 10px;
    display: flex;
    flex-shrink: inherit;
}
.himg1 h1 {
    float: right;
    padding: 150px;
    text-align:center;
    vertical-align:text-bottom;
}
/*end image style*/

/*start style for the 4 sections*/
.content {
    width: 100%;
    margin-left: auto;
}

#about-me h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}
#projects-me h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: left;
}
#projects-me h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 40px;
    text-align: right;
}
/*style for images of the projects section*/
#projects-me h2 {
width: 100%;
padding: 30px;
display: block;

}

.p1 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}
.p1 img {
    border: 3px solid;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 800px;
    height: 400px;
}

.child-one img {
    width: 1000px;
    height: 600px;
}
.child-two {

}

/* 
.container {
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
flex-grow: unset;
}
.card {
flex: 4;
background:black;
width: 400px;
height: 220px;
margin: 5px;
}
.card1 {
    flex: 8;
    background:black;
    width: 400px;
    height: 100%;
    margin: 5px;
    justify-content:center;
}
.card-image3 {
    background-image: url("/my-portfolio-html-css-java/Images/4.jpg");
    background-size: cover;
    height: 300px;
    margin-bottom: 0px;
    }
.card-image1 {
background-image: url("/my-portfolio-html-css-java/Images/2.jpg");
background-size: cover;
height: 180px;
margin-bottom: 0px;
}
.card-image2 {
    background-image: url("/my-portfolio-html-css-java/Images/3.jpg");
    background-size: cover;
    height: 180px;
    margin-bottom: 0px;
} */


/*end style for the projects section*/
#resume-me h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 36px;
    text-align: left;
}
#contact-me h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}
#about-me, #projects-me, #contact-me {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
}
#resume-me {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
}
#contact-me {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    min-height: 20%;
}

#contact-me li {
    display: flex;
    padding: 10px 10px;
    float: left;
}
/*button style for resume and contact me*/
#resume-me button {
    padding: 20px 35px 25px;
    background-color: var(--tiertiary);
    border: 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--fourth);
    text-decoration: none;
    display: flex;
    flex: auto;
    }

#contact-me button {
padding: 20px 35px 25px;
background-color: var(--tiertiary);
border: 10px;
border-radius: 30px;
cursor: pointer;
font-size: 16px;
font-size: 16px;
font-weight: 500;
color: var(--fourth);
text-decoration: none;
}
/*end style for buttons*/


footer {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
}
