* {
    font-family: 'ubuntu', sans-serif;
}

.style {
    font-family: 'Press Start 2P', cursive;
}
.my-height {
    height: 100vh;
    background-color: black;   
}

.image-box {
    border: 5px solid black;
    border-radius: 20px;
}

